body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 920px;
}

.selectWallet {
  position: fixed;
  /* Sit on top of the page content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /* Black background with opacity */
  z-index: 99;
  /* Specify a stack order in case you're using a different order for other elements */
  font-size: xx-large;
  color: #fff;
}

.walletWrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  justify-content: space-evenly;
}

.walletWrapper>img {
  cursor: pointer;
  margin: 0 50px;
  opacity: 0.5;
}

.walletWrapper>img:hover {
  opacity: 1;
}