/* header */
.header{
  display: flex;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(250, 249, 248);
}

.logo{
  max-width: 40px;
}

.links{
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #888;
}

.connectWalletBtn{
  border: solid 1px #888;
  padding: 10px 20px;
  font-weight: 600;
}

/* Content */
.container{
  width: 100%;
  display: flex;

}
.content{
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  margin: auto;
}

.stakeBox{
  width: 50%;
  margin: auto;
  margin-left: 40px;
}

.walletAddress{
  width: 80%;
}
.poolInfor{
  width: 50%;
  margin: auto;
  list-style: none;
}

.poolInfor>ul{
  list-style: none;
  line-height: 2;
}